/* ! ====================================================================================================
　■ メディアクエリ定義
==================================================================================================== */
$breakpoints: (
  'xs': 'screen and (max-width: 374px)',
  'sm': 'screen and (max-width: 480px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1280px)',
  'xl': 'screen and (max-width: 1440px)',
) !default;
@mixin mq($breakpoint: m) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* ! ====================================================================================================
　■ 変数定義　デフォルト値
==================================================================================================== */
:root {
  /* ! カラー —————————— */
  /* メインカラー */
  $color_main: #27A39B;
  /* アクセントカラー */
  $color_accent: #27A39B;
  /* 下地カラーのグレー */
  $color_base: #CBCCCC;  
  
  /* ! ボーダー —————————— */
  
  /* ! バックグラウンド —————————— */
  
  /* ! シェイプ(アイコン) —————————— */

}